	<div id="wp_news" class="wp_news section bg-grey">
		<div class="wrapper">
			<div class="wp_usual-title">News</div>

        <div class="wp_news-list flexbox content-center">

          <div class="item" *ngFor="let item of filterPosts()">
            <div class="item-date"> {{item.date | date}} </div>
            <div class="item-img">
              <a [routerLink]="['/news', item.id]" [state]="item">
                <img width="220" height="116" [src]="item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['news-thumb'].source_url"
                  class="attachment-news-thumb size-news-thumb wp-post-image" alt="" /> </a>
            </div>
            <div class="item-title">
              <a [routerLink]="['/news', item.id]" [state]="item"> {{item.title.rendered}} </a>
            </div>
            <div class="item-dscr">
              <p [innerHTML]="item.excerpt.rendered"><br /></p>
                <a class="more-link" [routerLink]="['/news', item.id]" [state]="item">Mehr erfahren</a>
            </div>
          </div>

        </div>

		</div>
  </div>
