<main class="content bg-grey section">
	<div class="wp_single wrapper">
			<h1 class="wp_single-title bold upper">
			  {{postData.title.rendered}}
			</h1>
			<div class="wp_single-content flexbox content-center">
				<div class="wp_single-side" [innerHTML]="postData.content.rendered">
				</div>
				<div class="wp_single-side image">
          <img [src]="postData['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['medium_large'].source_url"/>
				</div>
			</div>
		<button class="btn-back" (click)="goToList('/blog')">Back</button>
	</div>
</main>
