<div class="wp_unser section" id="wp_unser">
  <ngb-carousel *ngIf="images" fxHide.xs>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Schwangerschaftsbetreuung</h3>
        <p>Umfangreiche Betreuung der Schwangerschaft mit allen nötigen Untersuchungen</p>
        <a class="more-link" [routerLink]="['/services', 'pregnancy']">Mehr erfahren</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Mädchensprechstunde</h3>
        <p>Spezielle Sprechstunden für Mädchen und Teenager</p>
        <a class="more-link" [routerLink]="['/services', 'office-hours']">Mehr erfahren</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Kinderwunsch</h3>
        <p>Spezielle Beratung zum Kinderwunsch</p>
        <a class="more-link" [routerLink]="['/services', 'office-hours']">Mehr erfahren</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>Vorsorge</h3>
        <p>Breites Spektrum an Vorsorgeuntersuchungen</p>
        <a class="more-link" [routerLink]="['/care']">Mehr erfahren</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
