@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

.carousel-control-prev {
}

.carousel-control-next {
}

.carousel-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233fa8b7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233fa8b7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.95)
}

.carousel-indicators li.active {
    background-color: #3fa8b7
}

.carousel-caption {
  bottom: 40%;
  background-color: rgba(0,0,0,0.3)
}

.section {
  margin-bottom: 32px;
}

.wp_unser {
  background-color: #ededec;
}
